{% block security %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login - ArchitectUI HTML Bootstrap 4 Dashboard Template</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="ArchitectUI HTML Bootstrap 4 Dashboard Template">

    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="./assets/css/main.d810cf0ae7f39f28f336.css" rel="stylesheet">
</head>

<body>
    <style>
        * {
            font-family: Poppins;
        }
    </style>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">
                    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                            <div class=""><img src="./assets/images/logo-inverse.png"
                                    style="height: 27%;width: 27%;border-radius: 50% 50%;"></div>
                            {% if error %}
                            <div class="alert alert-warning alert-dismissible text-white" role="alert">
                                <span
                                    class="text text-dark font-weight-bold font-size-25">{{error.messageKey|trans(error.messageData,
                                    'security') }}<a href="javascript:;" class="alert-link text-white"></a></span>
                                <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert"
                                    aria-label="Close"></button>

                            </div>

                            {% endif %}
                            <h4 class="mb-0">
                                <span class="d-block">Bienvenue sur l'application LEBENE,</span>
                                <span>Veuillez-vous authentifier pour accéder à votre compte.</span>
                            </h4>

                           
                            <div class="divider row"></div>
                            <div>
                                <form class="" method="POST" action="{{path('app.security')}}">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail" class="">Nom d'utilisateur</label>
                                                <input name="_username" id="exampleEmail" placeholder="Entrez votre nom d'utilisateur" type="text"
                                                    class="form-control" value="{{last_username}}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="examplePassword" class="">Password</label>
                                                <input name="_password" id="examplePassword"
                                                    placeholder="Entrez le mot de passe..." type="password" class="form-control">
                                            </div>
                                        </div>
                                        <input type="hidden" name="csrf_token" value="">
                                    </div>
                                    <!-- <div class="position-relative form-check">
                                        <input name="check" id="exampleCheck" type="checkbox" class="form-check-input">
                                        <label for="exampleCheck" class="form-check-label">Rester connecté</label>
                                    </div> -->
                                    <div class="position-relative form-check">
                                        <label for="exampleCheck" class="form-check-label">Des difficultées à vous connecter? Contacter le service support lebene.service@gmail.com</label>
                                    </div>
                                    <div class="divider row"></div>
                                    <div class="d-flex align-items-center">
                                        <div class="ml-auto">
                                           <!--  <a href="javascript:void(0);" class="btn-lg btn btn-link">Mot de passe
                                                oublié</a> -->
                                            <button class="btn btn-primary btn-lg" type="submit">Accéder au tableau de
                                                bord</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}